@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

  .wrapper, html, body{
    height: 100%;
    margin: 0;
}

  body {
    margin: 0;
    width: 100%;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    

  }

  img {
    width: 300px;
    
  }

  .headersection,
   .footer{
    background-color: #1F2937;
    flex: 1;
  }

  .header {
    font-size: 24px;
    color: #F9FAF8;
  }

  .HeaderMainTxt {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
  }

  .HeaderSubTxt {
    font-size: 18px;
    color: #E5E7EB;
  }
  ul {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 6px;
    
  }

  button {
    border-radius: 15px;
    width: 80px;
    font-family: Roboto, sans-serif;
    background: #3882F6;
    color: white;
  }

  .section3 {
    background-color: #3882F6;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
    margin: 35px;
    gap:10px;

  }

  .Sec1Title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 20px;
  }

  .section2 {
    background-color: #E2E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 90px;
  }

  .quotetxt {
    font-size: 24px;
    font-style: oblique;
    color: #1F2937;
  }

  .stamp {
    color: white;
  }

  .container0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 80px;
    
  }

  .container1 {
    display: flex;
    padding-left: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;

  }

  .container2 {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    

  }

  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 16px;
    gap: 10px;
    
  }

  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .imggroup0 img,
  .imggroup1 img,
  .imggroup2 img,
  .imggroup3 img {
    border: solid teal;
    border-radius: 10px;
    width: 100px;
    height: 100px;

  }

  .imggroup0,
  .imggroup1,
  .imggroup2,
  .imggroup3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  